.order-box{
    width: 778px;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
    margin-left: 13.5%;
    margin-top: 1%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.order-author{
    width: 93px;
    height: 12px;
    text-align: left;
    font: normal normal normal 10px/12px Lato;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
}
.order-rate{
    margin-top: 8%;
    margin-left: -1%;
    font: normal normal normal 20px/13px Roboto;
}
.order-price{
    width: 36px;
    height: 13px;
    text-align: left;
    text-decoration: line-through;
    font: normal normal normal 15px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
    margin-left: 100%;
    
}
.order-align{
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: 20%;
    margin-top: -16%;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
}
.order-img{
    background: transparent url('../../images/component.png') 0% 0% no-repeat padding-box;
    
}