.headerwishlist {
    width: 80vw;
    height: 15vh;
    border: 0px solid blue;
    display: flex;
    position: relative;
    top: 6px;
    left: 153px;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    
}
.homewishlist {
    color: #9D9D9D;
    font-size: 12px;
    
}
.wishlistheader {
    color: #0A0102;
    font-size: 12px;
}
.containerwish {
    width: 78vw;
    height: auto;
    border: 1px solid #E4E4E4;
    position: relative;
    left: 153px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.mainwishlist {
    width:100%;
    height: 8vh;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detilswishlist {
    width: 94%;
    font-size: 18px;
    color: #0A0102;
    text-align: left;
    font-weight: 500;
}
.bookdetailwish {
    width: 100%;
    height: 25vh;
    border-bottom: 1px solid #E4E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookcontentwish {
    width: 92%;
    height: 50%;
    border: 0px solid pink;
    display: flex;
    justify-content: space-between;
}
.imagewish {
    width: 35%;
    height: 100%;
    border: 0px solid orange;
    display: flex;
    justify-content: space-between;
}
.imagebookwish {
    width: 18%;
    height: 100%;
    border: 0px solid pink;
}
.booknamewish {
    width: 72%;
    height: 100%;
    border: 0px solid pink;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 500;
}
.booktitlewish {
    height: 32%;
    font-size: 18px;
    color: #0A0102;
}
.bookAuthorwish {
    height: 28%;
    font-size: 12px;
    color:#9D9D9D;
}
.bookpricewish {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discountwish {
    font-size: 15px;
}
.pricewish {
    font-size: 12px;
    color: #9D9D9D;
    text-decoration-line: line-through;
    position: relative;
    left: 10px;
}
.footer1 {
    height: 8vh;
    width: 100vw;
    display: flex;
    border: 0px solid red;
    flex-direction: row;
    align-items: center;
    font-size: 11px;
    position: relative;
    top: 30px;
    background-color: #2E1D1E;
    color: #FFFFFF;
    position: relative;
    top: 35vh;
}
.footertxt1 {
    position: relative;
    left: 180px;
}