.bookhead {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  position: relative;
  left: 195px;
}

.books {
  margin-left: 5%;
  font-size: 20px;


}