.bookdetails-main {
    width: 80vw;
    height: 70vh;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    margin-left: -5%;
    margin-top: 1%;
}

.bookdetails-submain {
    width: 25%;
    height: 60%;
    border: 1px solid #E2E2E2;
}

.bookdetails-img {
    width: 80%;
    height: 90%;
    margin-top: 5%;
}

.bookdetails-details {
    margin-top: 10%;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    margin-left: -42%;
}
.bookDetails-wishlist{
    margin-top: -13%;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-left: 55%; 
}

.bookdetails-rates {
    width: 18px;
    height: 13px;
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
    margin-left: 110%;
    margin-top: -95%;
}

.bookdetails-rate {
    margin-top: 8%;
    margin-left: 1%;
    font: normal normal normal 20px/13px Roboto;
}

.bookdetails-price {
    width: 36px;
    height: 13px;
    text-align: left;
    text-decoration: line-through;
    font: normal normal normal 15px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
    margin-left: 110%;
    margin-top: -25%;
}

.bookdetails-typography {
    width: 250%;
    height: 25%;
    margin-top: -15%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    margin-left: 7%;
    overflow-y: scroll;
}

.book1-img {
    top: 132px;
    left: 179px;
    width: 35px;
    height: 45px;
    background: transparent url('../../images/GroupDiscussion.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    border: 1px solid #7C1E1E;
    border-radius: 0px 1px 1px 1px;
}

.book2-img {
    top: 181px;
    left: 174px;
    width: 44px;
    height: 54px;
    border: 1px solid #D1D1D1;
    border-radius: 0px 1px 1px 1px;
    opacity: 1;
}
.addIcon{
    width: '40%';
    background:'#333333 !important',
}
.bookdetails-align{
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    top: 1px;
    left: 30px;
}